name: Build branch

on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: find . -name 'package-lock.json' -execdir npm ci \;
      - name: Run server
        run: npm start &
      - name: Wait for server to start
        run: npx wait-on tcp:8585
      - name: Run tests
        run: npm run test
  build-latest:
    name: Build branch
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: ${{ secrets.GCP_BUILD_PROJECT_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_BUILD_SERVICE_ACCOUNT_KEY }}

      - uses: google-github-actions/setup-gcloud@v2

      - name: Extract branch name
        shell: bash
        run: echo "branch=$(echo ${GITHUB_REF#refs/heads/} | sed -r 's/\//-/g')" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Build
        run: |-
          gcloud builds submit \
            --quiet \
            --tag "eu.gcr.io/$PROJECT_ID/functions:${{ steps.extract_branch.outputs.branch }}"
